.container {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--bg);
    padding: 10px;
    border-radius: 10px;
    width: max-content;
  }
  
  .input {
    /*transparent*/
    background-color: #002e72cb;
    border: none;
    color: var(--text);
    outline: none;
  }